.modal-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 20px;
}
.card {
  width: 270px;
    height: 295px;
}
